# Farm and Agribusiness Management Notebook 1

The following exercises are to be completed and submitted for grading.  Use pandas to dour calculations.

In [4]:
import pandas as pd

In [5]:
data = {'Input level':[0,1,2,3,4,5,6,7,8],
        'Nitrogen applied (lbs)': [0,25,50,75,100,125,150,175,200],
        'TPP': [130,148,162,170,177,180,182,183,183],
        'TC': [750,762.50,775,787.50,800,812.50,825,837.50,850],
        'TR': [650,740,810,850,885,900,910,915,915],
        'Profit': [(100),(22.50),35.00,62.50,85.00,87.50,85.00,77.50,65]}

In [ ]:
df=pd.DataFrame(data=data,columns=['Input level','Nitrogen applied (lbs)','TPP','TC','TR','Profit'])
df

Q.1. In the above table assume that the prices of both the input and the output have doubled . Calculate using pandas the new TC's and TR's and determine the profit maximizing input level for the new prices. Now assume that both prices have been cut in half and repeat the process.Explain your results.

Q.2. Use several other price combinations for the production data contained in the new table created in Q.1. and find the profit maximizing input and output for each price combination. Pay close attention to what happens to these levels when the input price increases or decreases or when the output priceincreases or decreases.

Q.3. In the new table you created in Q.1. what would the profit maximizing input level be if the new price was $\$ 0$? What would be true about TPP and MPP at this point?

Q.4. How does the law of diminishing marginal returns cause MC to increase?

Q.5. Does the equal marginal principle apply to personal decisions when you have lmited income and time? How do you allocate a limited amount of study time when faced with three exams on the same day?

Q.6.Freda Farmer can invest capital in $\$ 100$ increments and has three alternative uses for the capital, as shown in the following table . The values in the table are the marginal value products for each successive $\$ 100$ of capital invested

<TABLE>
<TR><TD>Capital invested</TD><TD>Fertilizer $\$ $</TD><TD>Seed ($\$ $)</TD><TD>Chemicals ($\$ $) </TD></TR>
<HR>
<TR><TD>First $\$ 100$</TD><TD>400</TD><TD>250</TD><TD>350</TD></TR>
<TR><TD>Second $\$ 100 $</TD><TD>300</TD><TD>200</TD><TD>300</TD></TR>
<TR><TD>Third $\$ 100$</TD><TD>250</TD><TD>150</TD><TD>250</TD></TR>
<TR><TD>Fourth $\$ 100$</TD><TD>150</TD><TD>105</TD><TD>200</TD></TR>
<TR><TD>Fifth $\$ 100$</TD><TD>100</TD><TD>90</TD><TD>150</TD></TR>
<HR>
</TABLE>

a. If Freda has an unlimited amount of capital available and no other alternative uses for it. how much should she allocation to each alternative?

b. If Freda can borrow all the capital she needs for one year at 10 percent interest, how much should she borrowand how should it be used.?

c. Assume that Freda has only $\$ 700$ available. How should this limited amount of capital be allocated among the three uses? does your answer satisfy the equal marginal principle?

d. Assuming that Freda has only $\$ 1200$ available. How should this amount be allocated? What is the total income from using the $\$ 1200$ this way? Would a different allocation increase the total income? The price of grain is $\$ 0.09$ per pound and the rice of hay is $\$ 0.06$ per pound.

In [16]:
data2 = {'Feed ration': ['A','B','C','D','E','F','G'],
        'Grain(lb)': [825,900,975,1050,1125,1200,1275],
        'Hay': [1350,1130,935,770,625,525,445],
        'Total cost of ration': [155.25,148.80,143.85,140.70,138.75,139.50,141.45]}

In [17]:
df2=pd.DataFrame(data=data2,columns=['Feed ration','Grain(lb)','Hay','Total cost of ration'])
df2

  Feed ration  Grain(lb)   Hay  Total cost of ration
0           A        825  1350                155.25
1           B        900  1130                148.80
2           C        975   935                143.85
3           D       1050   770                140.70
4           E       1125   625                138.75
5           F       1200   525                139.50
6           G       1275   445                141.45